:host {
  display: inline-flex;

  &:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

:host([size="large"]) {
  font-size: large;
}
:host([size="larger"]) {
  font-size: larger;
}
:host([size="medium"]) {
  font-size: medium;
}
:host([size="small"]) {
  font-size: small;
}
:host([size="smaller"]) {
  font-size: smaller;
}
:host([size="x-large"]) {
  font-size: x-large;
}
:host([size="x-small"]) {
  font-size: x-small;
}
:host([size="xx-large"]) {
  font-size: xx-large;
}
:host([size="xx-small"]) {
  font-size: xx-small;
}