@font-face {
    font-family: 'fluent-icons-filled';
    src: url('/assets/fonts/fluent-icons-filled.woff2') format('woff2'),
         url('/assets/fonts/fluent-icons-filled.woff') format('woff'),
         url('/assets/fonts/fluent-icons-filled.ttf') format('truetype');
}

@font-face {
    font-family: 'fluent-icons-light';
    src: url('/assets/fonts/fluent-icons-light.woff2') format('woff2'),
         url('/assets/fonts/fluent-icons-light.woff') format('woff'),
         url('/assets/fonts/fluent-icons-light.ttf') format('truetype');
}

@font-face {
    font-family: 'fluent-icons-regular';
    src: url('/assets/fonts/fluent-icons-regular.woff2') format('woff2'),
         url('/assets/fonts/fluent-icons-regular.woff') format('woff'),
         url('/assets/fonts/fluent-icons-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fluent-icons-resizable';
  src: url('/assets/fonts/fluent-icons-resizable.woff2') format('woff2'),
       url('/assets/fonts/fluent-icons-resizable.woff') format('woff'),
       url('/assets/fonts/fluent-icons-resizable.ttf') format('truetype');
}